@model DetailsSidebarViewModel;
@{
    var catigories = Model.Categories;
    var blogs = Model.Blogs;
}
<div class="col-md-4">
    <div class="blog-sidebar right">
        <div class="single-blog-widget mb-47">
            <h3>search</h3>
            <div class="blog-search">
                <form id="search" action="#">
                    <input type="search" placeholder="Search..." name="search" />
                    <button type="submit">
                        <span><i class="fa fa-search"></i></span>
                    </button>
                </form>
            </div>
        </div>
        <div class="single-blog-widget mb-47">
            <h3>categories</h3>
            <ul>
                @foreach (var item in catigories)
                {
                    <li><a href="#">@item.Name (@item.Courses.Count)</a></li>
                }
            </ul>
        </div>
        <div class="single-blog-widget mb-47">
            <div class="single-blog-banner">
                <a href="blog-details.html" id="blog"><img src="~/assets/img/blog/blog-img.jpg" alt="blog"></a>
                <h2>best<br> eductaion<br> theme</h2>
            </div>
        </div>
        <div class="single-blog-widget mb-47">
            <h3>latest post</h3>
            @foreach (var item in blogs)
            {
                <div class="single-post mb-30">
                    <div class="single-post-img">
                        <a asp-controller="blogs" asp-action="details" asp-route-id="@item.Id">
                            <img style="width:100px;height:100px" src="~/assets/images/blog/@item.ImageUrl" alt="post">
                            <div class="blog-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </a>
                    </div>
                    <div class="single-post-content">
                        <h4><a asp-controller="blogs" asp-action="details" asp-route-id="@item.Id">@item.Title</a></h4>
                        <p>By Alex  /  @item.CreatedAt</p>
                    </div>
                </div>
            }
        </div>
        <div class="single-blog-widget">
            <h3>tags</h3>
            <div class="single-tag">
                <a href="blog-details.html" class="mr-10 mb-10">course</a>
                <a href="blog-details.html" class="mr-10 mb-10">education</a>
                <a href="blog-details.html" class="mb-10">teachers</a>
                <a href="blog-details.html" class="mr-10">learning</a>
                <a href="blog-details.html" class="mr-10">university</a>
                <a href="blog-details.html">events</a>
            </div>
        </div>
    </div>
</div>