@model Contact
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="single-widget">
        <h3>get in touch</h3>
        <p>Your address goes here, Street<br>@Model.Adress</p>
        <p>@Model.Number1<br>@Model.Number2</p>
        <p>@Model.Email<br>@Model.Website</p>
    </div>
</div>